h1 {
  color: #FFF;
  background-color: #333;
  height: 55px;
  opacity: 0.9;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 15px;
  margin-left: -80px;
  display: inline-block;
}

.ns-logo {
  text-align: center;
  width: 100%;
  padding-top: 150px;
}

.ns-logo img {
  width: 90%;
}

.slide-title h1 {
  position: absolute;
  padding-left: 80px;
  width: 100%;
  bottom: 40%;
  left: 0;
  text-align: center;
}