h1 {
  color: #FFF;
  background-color: #333;
  height: 55px;
  opacity: 0.9;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 15px;
  margin-left: -80px;
  display: inline-block;
}

.slide-blue {
  background-color: #dbf0f4;
}

.slide-blue h1 {
  background-color: #23b4d3;
}

/*@font-face {
  font-family: fipps;
  src: url(../assets/fonts/Fipps-Regular.otf);
}

@font-face {
  font-family: minecraftia;
  src: url(../assets/fonts/Minecraftia-Regular.ttf);
}

body {
  font-family: minecraftia;
}

h1, .remark-slide-content h1 {
  font-size: 42px;
}

h1 {
  color: #FFF;
  background-color: #333;
  height: 55px;
  opacity: 0.9;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 15px;
  margin-left: -80px;
  display: inline-block;
}

.remark-notes, .remark-notes-preview {
  font-family: Helvetica, sans-serif;
}

h2, .remark-slide-content h2 {
  font-size: 36px;
}

.remark-slide-content.logo-bg {
  background-image: url(../assets/summertalks-logo.png);
  background-size: 18% !important;
  background-position: 99% 99% !important;
}

.remark-slide-content.no-bg {
  background-image: none; 
}

.slide-title h1 {
  position: absolute;
  padding-left: 80px;
  width: 100%;
  bottom: 17%;
  left: 0;
  text-align: center;
}

.slide-blue {
  background-color: #dbf0f4;
}

.slide-blue h1 {
  background-color: #23b4d3;
}

.slide-red {
  background-color: #e64d42;
}

.slide-red h1 {
  background-color: #a73434;
}

.slide-green {

}

.slide-green h1 {
  background-color: #30ad64;
}

.slide-brown h1 {
  background-color: #785c41;
}

.bg-image {
  background-size: cover !important; 
  background-position: 50% !important;
}

.bg-black {
  background-color: #000;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.summertalks-logo {
  background-size: cover;
  width: 590px;
  height: 215px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.summertalks-logo img {
  width: 100%;
}

.summertalks-header-risingsun {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: rgba(136, 207, 221, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.summertalks-header-risingsun img {
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  vertical-align: middle;
}

.isaac {
  position: absolute;
  top: 20%;
  right: 14%;
}*/